<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active current" >
          <a class="nav-link " aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active current" >
          <a class="nav-link" routerLink="/users">ApiCall</a>
        </li>
        <li class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/ReactiveForm">ReactiveForm</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active current">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DataBinding
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <li routerLinkActive="active current"><a class="dropdown-item" routerLink="/PropertyBinding">Property Binding</a></li>
            <li routerLinkActive="active current"><a class="dropdown-item" routerLink="/ClassBinding">Class Binding</a></li>
            <li routerLinkActive="active current"><a class="dropdown-item" routerLink="/StyleBinding">Style Binding</a></li>
            <li routerLinkActive="active current"><a class="dropdown-item" routerLink="/InterPolation">InterPolation</a></li>
            <li routerLinkActive="active current"><a class="dropdown-item" routerLink="/EventBinding">EventBinding</a></li>
            
            <li routerLinkActive="active current"><a class="dropdown-item" routerLink="/TwowayDataBinding">TwowayDataBinding</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active current">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Directives
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/ngIf">ngIf</a></li>
            <li><a class="dropdown-item"routerLink="/ngFor">ngFor</a></li>
            <li><a class="dropdown-item" href="#">ngSwitch</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>