<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Laptop</h5>
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="btn btn-success">know More About Laptop</a>
  
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Washing Machine</h5>
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="btn btn-success">know More about Washing Machine</a>
  
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Mobile</h5>
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="btn btn-success">know More About Mobile</a>
  
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Tv</h5>
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="btn btn-success">know More About Tv</a>
  
            </app-card>
        </div>
    </div>
</div>